@charset "UTF-8";
@font-face {
  font-family: 'DM-Sans';
  src: url("fonts/DMSans-Regular.ttf");
}

body, .page {
  max-width: 1500px;
  min-width: 850px;
  margin: auto;
}

#block-page {
  margin: auto;
}

#block-page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 90px;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  margin-left: 65px;
}

#block-page header .div__logo > img {
  width: 200px;
  height: 52px;
}

#block-page header .hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 100px;
}

#block-page header .hashtags > div {
  color: #901C1C;
  font-family: 'DM-Sans';
  font-weight: bold;
  font-size: 12px;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  margin-right: 7px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 20px;
}

#block-page .div__titre-page {
  float: right;
  width: 30%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

#block-page .div__titre-page .titre-page {
  font-family: 'DM-Sans';
  font-size: 36px;
  font-weight: normal;
  color: #901C1C;
}

#block-page .conteneur1 {
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#block-page .conteneur1 .div__photograph {
  width: 33%;
  margin-top: 60px;
}

#block-page .conteneur1 .div__photograph .div__portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #D3573C;
  height: 250px;
}

#block-page .conteneur1 .div__photograph .div__portrait > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#block-page .conteneur1 .div__photograph .div__portrait > div > a > img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 190px;
  width: 190px;
}

#block-page .conteneur1 .div__photograph .div__portrait .nom {
  height: 45px;
  padding-top: 15px;
}

#block-page .conteneur1 .div__photograph .div__portrait .nom > a {
  text-decoration: none;
  color: #D3573C;
}

#block-page .conteneur1 .div__photograph .div__portrait .nom > a > h1 {
  font-family: 'DM-Sans';
  font-size: 36px;
  font-weight: normal;
  margin: 0px;
}

#block-page .conteneur1 .div__photograph .div__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5px;
}

#block-page .conteneur1 .div__photograph .div__info > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  font-family: 'DM-Sans';
  font-weight: normal;
}

#block-page .conteneur1 .div__photograph .div__info .ville {
  color: #901C1C;
  font-size: 13px;
}

#block-page .conteneur1 .div__photograph .div__info .phrase-intro {
  color: #0c0c0c;
  padding-top: 5px;
  font-size: 10px;
}

#block-page .conteneur1 .div__photograph .div__info .tarif {
  color: #929292;
  padding-top: 3px;
  font-size: 9px;
}

#block-page .conteneur1 .div__photograph .div__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
}

#block-page .conteneur1 .div__photograph .div__hashtags > div {
  color: #901C1C;
  font-family: 'DM-Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  margin-right: 7px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 20px;
}

.page {
  max-width: 1500px;
  min-width: 1050px;
  margin: auto;
}

.page .block-page, .page body {
  margin: auto;
}

.page .block-page .header, .page body .header {
  margin-left: 50px;
  width: 90%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.page .block-page .header .div__logo, .page body .header .div__logo {
  width: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15px;
  padding-left: 2%;
}

.page .block-page .header .div__logo img, .page body .header .div__logo img {
  width: 180px;
  height: 48px;
}

.page .block-page .conteneur1, .page body .conteneur1 {
  font-family: 'DM-Sans';
  margin: auto;
  width: 90%;
  height: 310px;
  background-color: #f7f7f7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .block-page .conteneur1 .div__info-profil, .page body .conteneur1 .div__info-profil {
  width: 30%;
  padding-left: 5%;
  min-width: 378px;
}

.page .block-page .conteneur1 .div__info-profil .nom, .page body .conteneur1 .div__info-profil .nom {
  line-height: 65px;
  padding-bottom: 10px;
}

.page .block-page .conteneur1 .div__info-profil .nom > h1, .page body .conteneur1 .div__info-profil .nom > h1 {
  font-size: 64px;
  font-weight: normal;
  color: #D3573C;
  margin: 0px;
}

.page .block-page .conteneur1 .div__info-profil h3, .page body .conteneur1 .div__info-profil h3 {
  font-weight: normal;
}

.page .block-page .conteneur1 .div__info-profil .ville, .page body .conteneur1 .div__info-profil .ville {
  font-size: 24px;
  color: #901C1C;
  margin: 0;
}

.page .block-page .conteneur1 .div__info-profil .phrase-intro, .page body .conteneur1 .div__info-profil .phrase-intro {
  font-size: 18px;
  color: #0c0c0c;
}

.page .block-page .conteneur1 .div__info-profil .div__hashtags, .page body .conteneur1 .div__info-profil .div__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

.page .block-page .conteneur1 .div__info-profil .div__hashtags > div, .page body .conteneur1 .div__info-profil .div__hashtags > div {
  color: #901C1C;
  font-family: 'DM-Sans';
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #d4d4d4;
  margin-right: 7px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 23px;
}

.page .block-page .conteneur1 .div__bouton, .page body .conteneur1 .div__bouton {
  width: 15%;
  padding-bottom: 105px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page .block-page .conteneur1 .div__bouton button, .page body .conteneur1 .div__bouton button {
  font-family: 'DM-Sans';
  background-color: #901C1C;
  height: 65px;
  width: 85%;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.page .block-page .conteneur1 .div__portrait, .page body .conteneur1 .div__portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
}

.page .block-page .conteneur1 .div__portrait > img, .page body .conteneur1 .div__portrait > img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 215px;
  width: 215px;
}

.page .block-page .conteneur2, .page body .conteneur2 {
  width: 90%;
  margin: auto;
  font-family: 'DM-Sans';
}

.page .block-page .conteneur2 .tri, .page body .conteneur2 .tri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page .block-page .conteneur2 .tri .div__titre__filtres, .page body .conteneur2 .tri .div__titre__filtres {
  width: 10%;
}

.page .block-page .conteneur2 .tri .div__filtres, .page body .conteneur2 .tri .div__filtres {
  width: 15%;
}

.page .block-page .conteneur2 .tri .div__filtres nav, .page body .conteneur2 .tri .div__filtres nav {
  margin: 0 auto;
  background-color: #901C1C;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul, .page body .conteneur2 .tri .div__filtres nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul li:hover .sous, .page body .conteneur2 .tri .div__filtres nav ul li:hover .sous {
  display: block;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul .déroulant, .page body .conteneur2 .tri .div__filtres nav ul .déroulant {
  float: left;
  text-align: center;
  position: relative;
  width: 100%;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul .déroulant .sous, .page body .conteneur2 .tri .div__filtres nav ul .déroulant .sous {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  -webkit-box-shadow: 0px 1px 2px #CCC;
          box-shadow: 0px 1px 2px #CCC;
  background-color: #901C1C;
  position: absolute;
  padding-left: 0px;
  width: 100%;
  z-index: 100;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul .déroulant .sous li, .page body .conteneur2 .tri .div__filtres nav ul .déroulant .sous li {
  float: none;
  width: 100%;
  text-align: center;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul .déroulant .sous li a, .page body .conteneur2 .tri .div__filtres nav ul .déroulant .sous li a {
  padding: 10px;
  border-bottom: none;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul .déroulant .sous li a:hover, .page body .conteneur2 .tri .div__filtres nav ul .déroulant .sous li a:hover {
  border-bottom: none;
  background-color: black;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul .déroulant > a::after, .page body .conteneur2 .tri .div__filtres nav ul .déroulant > a::after {
  content: "";
  font-size: 14px;
}

.page .block-page .conteneur2 .tri .div__filtres nav ul::after, .page body .conteneur2 .tri .div__filtres nav ul::after {
  content: "";
  display: table;
  clear: both;
}

.page .block-page .conteneur2 .tri .div__filtres nav a, .page body .conteneur2 .tri .div__filtres nav a {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px 0px;
}

.page .block-page .conteneur2 .tri .div__filtres nav a:hover, .page body .conteneur2 .tri .div__filtres nav a:hover {
  border-bottom: 2px solid gold;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1, .page .block-page .conteneur2 .galerie .galerie__ligne2, .page body .conteneur2 .galerie .galerie__ligne1, .page body .conteneur2 .galerie .galerie__ligne2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo {
  width: 27%;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo img, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo img, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo img, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo img {
  width: 100%;
  height: 324px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nom__photo, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nom__photo, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nom__photo {
  width: 84%;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nom__photo > h2, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nom__photo > h2, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nom__photo > h2, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nom__photo > h2 {
  font-weight: normal;
  color: #901C1C;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nb__like, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nb__like, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nb__like, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nb__like {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nb__like > p, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nb__like > p, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nb__like > p, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nb__like > p {
  font-weight: 400;
  color: #901C1C;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo p, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo p, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo h2, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo p, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo h2, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo p {
  margin: 0;
  font-size: 24px;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .icone__like, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .icone__like, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .icone__like, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .icone__like {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #901C1C;
}

.page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .icone__like .fas.fa-heart.fa-lg, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .icone__like .fas.fa-heart.fa-lg, .page body .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .icone__like .fas.fa-heart.fa-lg, .page body .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .icone__like .fas.fa-heart.fa-lg {
  width: 10px;
  height: 10px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.bground .content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.bground .content .close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  color: white;
}

.bground .content .modal-body {
  height: 600px;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: 'DM-Sans';
}

.bground .content .modal-body .form1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bground .content .modal-body .form1 .div-title {
  padding-top: 15px;
  margin-bottom: 30px;
}

.bground .content .modal-body .form1 .div-title .form-title {
  font-size: 48px;
  font-weight: normal;
  color: black;
  margin: 0;
  line-height: 50px;
}

.bground .content .modal-body .form1 .formData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 10px;
  color: #3f3f3f;
}

.bground .content .modal-body .form1 .formData .label__form {
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.bground .content .modal-body .form1 .formData .text-control {
  margin: 0;
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  height: 70%;
  border: 0.8px solid #ccc;
  outline: none;
}

.bground .content .modal-body .form1 .formData .error {
  color: red;
  font-size: 14px;
  display: block;
}

.bground .content .modal-body .form1 .formData--modif {
  height: 130px;
}

.bground .content .modal-body .form1 .div-btn {
  padding-top: 15px;
}

.bground .content .modal-body .form1 .div-btn .btn-submit {
  height: 50px;
  width: 20%;
  background: #901C1C;
  display: block;
  margin: 0;
  border-radius: 3px;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'DM-Sans';
}

.diapo {
  position: relative;
  overflow: hidden;
}

#nav-droite, #nav-gauche {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-size: 3em;
}

#nav-droite {
  right: 20px;
}

#nav-gauche {
  left: 20px;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.element {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.element > img {
  width: 100%;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px;
}

@media all and (max-width: 375px) {
  .page {
    width: 375px;
  }
  .page #block-page {
    width: 375px;
    margin: auto;
  }
  .page #block-page header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 150px;
    margin-left: 0px;
  }
  .page #block-page header .div__logo {
    width: 50%;
    margin-left: -110px;
  }
  .page #block-page header .div__logo > img {
    width: 150px;
    height: 40px;
  }
  .page #block-page header .hashtags {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
  .page #block-page header .hashtags > div {
    margin-top: 5px;
  }
  .page #block-page .div__titre-page {
    float: none;
    position: absolute;
    left: 220px;
    width: 40%;
    height: 50px;
    padding-top: 25px;
  }
  .page #block-page .div__titre-page .titre-page {
    font-size: 14px;
    margin: 0;
  }
  .page #block-page .conteneur1 {
    width: 90%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .page #block-page .conteneur1 .div__photograph {
    width: 100%;
    margin-bottom: 20px;
  }
  .page #block-page .conteneur1 .div__photograph .div__portrait {
    height: 245px;
  }
  .page #block-page .conteneur1 .div__photograph .div__portrait .nom {
    height: 35px;
  }
  .page #block-page .conteneur1 .div__photograph .div__portrait .nom > h1 {
    padding-top: 0px;
  }
  .page #block-page .conteneur1 .div__photograph .div__info {
    padding-top: 0px;
  }
  .page #block-page .conteneur1 .div__photograph .div__info .phrase-intro {
    padding-top: 2px;
  }
}

@media all and (min-width: 376px) and (max-width: 768px) {
  .page {
    width: 768px;
  }
  .page #block-page {
    width: 768px;
    margin: auto;
  }
  .page #block-page header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 140px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
  }
  .page #block-page header .div__logo {
    padding-left: 60px;
    height: 40px;
  }
  .page #block-page .div__titre-page {
    position: absolute;
    left: 415px;
    width: 50%;
  }
  .page #block-page .conteneur1 {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page #block-page .conteneur1 .div__photograph {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media all and (min-width: 769px) and (max-width: 1300px) {
  .page #block-page {
    margin: auto;
  }
  .page #block-page header {
    width: 66%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
  }
  .page #block-page header .div__logo {
    padding-left: 60px;
    height: 40px;
  }
  .page #block-page header .hashtags {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 28px;
    padding-left: 0;
  }
  .page #block-page header .hashtags > div {
    margin-top: 5px;
  }
  .page #block-page .div__titre-page {
    float: right;
    width: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
  }
}

@media all and (max-width: 375px) {
  .page {
    width: 375px;
    min-width: 0;
  }
  .page .block-page .header {
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .page .block-page .header .div__logo {
    padding-left: 0%;
  }
  .page .block-page .header .div__logo img {
    width: 150px;
    height: 40px;
  }
  .page .block-page .conteneur1 {
    height: 160px;
    background-color: white;
    margin-bottom: 20px;
  }
  .page .block-page .conteneur1 .div__info-profil {
    width: 70%;
    padding-left: 0%;
    min-width: 0;
  }
  .page .block-page .conteneur1 .div__info-profil .nom {
    line-height: 0px;
    padding-bottom: 5px;
  }
  .page .block-page .conteneur1 .div__info-profil .nom > h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .page .block-page .conteneur1 .div__info-profil .ville {
    font-size: 13px;
  }
  .page .block-page .conteneur1 .div__info-profil .phrase-intro {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .page .block-page .conteneur1 .div__info-profil .div__hashtags > div {
    font-size: 13px;
  }
  .page .block-page .conteneur1 .div__info-profil .div__hashtags .animals {
    display: none;
  }
  .page .block-page .conteneur1 .div__bouton {
    position: fixed;
    width: 200px;
    bottom: -80px;
    left: 49px;
  }
  .page .block-page .conteneur1 .div__bouton button {
    height: 33px;
    font-size: 18px;
  }
  .page .block-page .conteneur1 .div__portrait {
    width: 30%;
    padding-bottom: 55px;
    padding-right: 0%;
  }
  .page .block-page .conteneur1 .div__portrait > img {
    height: 100px;
    width: 100px;
  }
  .page .block-page .conteneur2 .tri {
    display: none;
  }
  .page .block-page .conteneur2 .galerie {
    margin-bottom: 20px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1, .page .block-page .conteneur2 .galerie .galerie__ligne2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo {
    width: 100%;
    margin-top: 10px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .div__img, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .div__img {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo img, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo img {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo {
    width: 100%;
    padding-top: 10px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nom__photo {
    width: 85%;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo p, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo p {
    margin: 0;
    font-size: 14px;
  }
}

@media all and (min-width: 376px) and (max-width: 768px) {
  .page {
    width: 768px;
    min-width: 0;
  }
  .page .block-page .header .div__logo {
    padding-left: 3%;
  }
  .page .block-page .header .div__logo > img {
    height: 48px;
  }
  .page .block-page .conteneur1 {
    height: 200px;
  }
  .page .block-page .conteneur1 .div__info-profil {
    width: 70%;
    padding-left: 3%;
  }
  .page .block-page .conteneur1 .div__info-profil .nom {
    line-height: 0px;
    padding-bottom: 5px;
  }
  .page .block-page .conteneur1 .div__info-profil .nom > h1 {
    font-size: 42px;
    line-height: 40px;
  }
  .page .block-page .conteneur1 .div__info-profil .ville {
    font-size: 18px;
  }
  .page .block-page .conteneur1 .div__info-profil .phrase-intro {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .page .block-page .conteneur1 .div__info-profil .div__hashtags > div {
    font-size: 18px;
  }
  .page .block-page .conteneur1 .div__portrait {
    width: 30%;
    padding-right: 3%;
  }
  .page .block-page .conteneur1 .div__portrait > img {
    height: 150px;
    width: 150px;
  }
  .page .block-page .conteneur2 {
    margin-top: 20px;
  }
  .page .block-page .conteneur2 .tri {
    display: none;
  }
  .page .block-page .conteneur2 .galerie {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1, .page .block-page .conteneur2 .galerie .galerie__ligne2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    margin-bottom: 0px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo {
    width: 100%;
    margin-top: 10px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .div__img, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .div__img {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo img, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo img {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo {
    width: 100%;
    padding-top: 10px;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo .nom__photo {
    width: 85%;
  }
  .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .galerie__ligne1 .poste__photo .description__photo p, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .galerie__ligne2 .poste__photo .description__photo p {
    margin: 0;
    font-size: 19px;
  }
}
/*# sourceMappingURL=main.css.map */