@font-face {
  font-family: 'DM-Sans';
  src: url("fonts/DMSans-Regular.ttf");
}

body, .page {
  max-width: 1500px;
  min-width: 850px;
  margin: auto;
}

#block-page {
  margin: auto;
}

#block-page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 90px;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  margin-left: 65px;
}

#block-page header .div__logo > img {
  width: 200px;
  height: 52px;
}

#block-page header .hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 100px;
}

#block-page header .hashtags > a {
  color: #901C1C;
  font-family: 'DM-Sans';
  font-weight: bold;
  font-size: 12px;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 20px;
}

#block-page .div__titre-page {
  float: right;
  width: 30%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

#block-page .div__titre-page .titre-page {
  font-family: 'DM-Sans';
  font-size: 36px;
  font-weight: normal;
  color: #901C1C;
}

#block-page .conteneur1 {
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#block-page .conteneur1 .div__photograph {
  width: 33%;
  margin-top: 60px;
}

#block-page .conteneur1 .div__photograph .div__portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #D3573C;
  height: 250px;
}

#block-page .conteneur1 .div__photograph .div__portrait > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#block-page .conteneur1 .div__photograph .div__portrait > div > a > img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 190px;
  width: 190px;
}

#block-page .conteneur1 .div__photograph .div__portrait .nom {
  height: 45px;
  padding-top: 15px;
}

#block-page .conteneur1 .div__photograph .div__portrait .nom > a {
  text-decoration: none;
  color: #D3573C;
}

#block-page .conteneur1 .div__photograph .div__portrait .nom > a > h1 {
  font-family: 'DM-Sans';
  font-size: 36px;
  font-weight: normal;
  margin: 0px;
}

#block-page .conteneur1 .div__photograph .div__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5px;
}

#block-page .conteneur1 .div__photograph .div__info > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  font-family: 'DM-Sans';
  font-weight: normal;
}

#block-page .conteneur1 .div__photograph .div__info .ville {
  color: #901C1C;
  font-size: 13px;
}

#block-page .conteneur1 .div__photograph .div__info .phrase-intro {
  color: #0c0c0c;
  padding-top: 5px;
  font-size: 10px;
}

#block-page .conteneur1 .div__photograph .div__info .tarif {
  color: #929292;
  padding-top: 3px;
  font-size: 9px;
}

#block-page .conteneur1 .div__photograph .div__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
}

#block-page .conteneur1 .div__photograph .div__hashtags > div {
  color: #901C1C;
  font-family: 'DM-Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  margin-right: 7px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 20px;
}

.page {
  max-width: 1500px;
  min-width: 1050px;
  margin: auto;
}

.page .block-page, .page body {
  margin: auto;
}

.page .block-page .div__tarif-like, .page body .div__tarif-like {
  width: 25%;
  height: 60px;
  position: fixed;
  background-color: #DB8876;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DM-Sans';
  max-width: 370px;
  min-width: 310px;
  font-size: 16px;
  border-radius: 5px;
  bottom: 0px;
  right: 50px;
  z-index: 10;
}

.page .block-page .div__tarif-like .div__nb-like, .page body .div__tarif-like .div__nb-like {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .block-page .div__tarif-like .div__nb-like h2, .page body .div__tarif-like .div__nb-like h2 {
  margin-right: 10px;
}

.page .block-page .div__tarif-like .div__nb-like i, .page body .div__tarif-like .div__nb-like i {
  font-size: 20px;
}

.page .block-page .div__tarif-like .div__tarif, .page body .div__tarif-like .div__tarif {
  width: 45%;
}

.page .block-page .header, .page body .header {
  margin-left: 50px;
  width: 90%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.page .block-page .header .div__logo, .page body .header .div__logo {
  width: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15px;
  padding-left: 2%;
}

.page .block-page .header .div__logo img, .page body .header .div__logo img {
  width: 180px;
  height: 48px;
}

.page .block-page .conteneur1, .page body .conteneur1 {
  font-family: 'DM-Sans';
  margin: auto;
  width: 90%;
  height: 310px;
  background-color: #f7f7f7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .block-page .conteneur1 .div__info-profil, .page body .conteneur1 .div__info-profil {
  width: 30%;
  padding-left: 5%;
  min-width: 378px;
}

.page .block-page .conteneur1 .div__info-profil .nom, .page body .conteneur1 .div__info-profil .nom {
  line-height: 65px;
  padding-bottom: 10px;
}

.page .block-page .conteneur1 .div__info-profil .nom > h1, .page body .conteneur1 .div__info-profil .nom > h1 {
  font-size: 64px;
  font-weight: normal;
  color: #D3573C;
  margin: 0px;
}

.page .block-page .conteneur1 .div__info-profil h3, .page body .conteneur1 .div__info-profil h3 {
  font-weight: normal;
}

.page .block-page .conteneur1 .div__info-profil .ville, .page body .conteneur1 .div__info-profil .ville {
  font-size: 24px;
  color: #901C1C;
  margin: 0;
}

.page .block-page .conteneur1 .div__info-profil .phrase-intro, .page body .conteneur1 .div__info-profil .phrase-intro {
  font-size: 18px;
  color: #0c0c0c;
}

.page .block-page .conteneur1 .div__info-profil .div__hashtags, .page body .conteneur1 .div__info-profil .div__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

.page .block-page .conteneur1 .div__info-profil .div__hashtags > div, .page body .conteneur1 .div__info-profil .div__hashtags > div {
  color: #901C1C;
  font-family: 'DM-Sans';
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #d4d4d4;
  margin-right: 7px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 23px;
}

.page .block-page .conteneur1 .div__bouton, .page body .conteneur1 .div__bouton {
  width: 15%;
  padding-bottom: 105px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page .block-page .conteneur1 .div__bouton button, .page body .conteneur1 .div__bouton button {
  font-family: 'DM-Sans';
  background-color: #901C1C;
  height: 65px;
  width: 85%;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 130px;
}

.page .block-page .conteneur1 .div__portrait, .page body .conteneur1 .div__portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
}

.page .block-page .conteneur1 .div__portrait > img, .page body .conteneur1 .div__portrait > img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 215px;
  width: 215px;
}

.page .block-page .conteneur2, .page body .conteneur2 {
  width: 92%;
  margin: auto;
  font-family: 'DM-Sans';
}

.page .block-page .conteneur2 .tri, .page body .conteneur2 .tri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 2%;
}

.page .block-page .conteneur2 .tri .div__titre__filtres, .page body .conteneur2 .tri .div__titre__filtres {
  width: 10%;
}

.page .block-page .conteneur2 .tri .div__filtres, .page body .conteneur2 .tri .div__filtres {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .block-page .conteneur2 .tri .div__filtres .sous, .page body .conteneur2 .tri .div__filtres .sous {
  background-color: #901C1C;
  border-radius: 10px;
  height: 60px;
  width: 170px;
  font-family: 'DM-Sans';
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding-left: 5px;
}

.page .block-page .conteneur2 .tri .div__filtres .sous option::after, .page body .conteneur2 .tri .div__filtres .sous option::after {
  height: 60px;
  font-size: 17px;
  font-family: 'DM-Sans';
}

.page .block-page .conteneur2 .galerie, .page body .conteneur2 .galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
  padding-left: 2%;
}

.page .block-page .conteneur2 .galerie .poste__photo, .page .block-page .conteneur2 .galerie .poste__video, .page body .conteneur2 .galerie .poste__photo, .page body .conteneur2 .galerie .poste__video {
  width: 29%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-right: 2%;
  margin-left: 2%;
}

.page .block-page .conteneur2 .galerie .poste__photo video, .page .block-page .conteneur2 .galerie .poste__video video, .page body .conteneur2 .galerie .poste__photo video, .page body .conteneur2 .galerie .poste__video video {
  border: none;
}

.page .block-page .conteneur2 .galerie .poste__photo img, .page .block-page .conteneur2 .galerie .poste__photo video, .page .block-page .conteneur2 .galerie .poste__video img, .page .block-page .conteneur2 .galerie .poste__video video, .page body .conteneur2 .galerie .poste__photo img, .page body .conteneur2 .galerie .poste__photo video, .page body .conteneur2 .galerie .poste__video img, .page body .conteneur2 .galerie .poste__video video {
  width: 100%;
  height: 324px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__video, .page .block-page .conteneur2 .galerie .poste__video .description__photo, .page .block-page .conteneur2 .galerie .poste__video .description__video, .page body .conteneur2 .galerie .poste__photo .description__photo, .page body .conteneur2 .galerie .poste__photo .description__video, .page body .conteneur2 .galerie .poste__video .description__photo, .page body .conteneur2 .galerie .poste__video .description__video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__video, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__video, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__video, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__photo, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__video, .page body .conteneur2 .galerie .poste__photo .description__photo .nom__photo, .page body .conteneur2 .galerie .poste__photo .description__photo .nom__video, .page body .conteneur2 .galerie .poste__photo .description__video .nom__photo, .page body .conteneur2 .galerie .poste__photo .description__video .nom__video, .page body .conteneur2 .galerie .poste__video .description__photo .nom__photo, .page body .conteneur2 .galerie .poste__video .description__photo .nom__video, .page body .conteneur2 .galerie .poste__video .description__video .nom__photo, .page body .conteneur2 .galerie .poste__video .description__video .nom__video {
  width: 77%;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__photo > h2, .page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__video > h2, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__photo > h2, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__video > h2, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__photo > h2, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__video > h2, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__photo > h2, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__video > h2, .page body .conteneur2 .galerie .poste__photo .description__photo .nom__photo > h2, .page body .conteneur2 .galerie .poste__photo .description__photo .nom__video > h2, .page body .conteneur2 .galerie .poste__photo .description__video .nom__photo > h2, .page body .conteneur2 .galerie .poste__photo .description__video .nom__video > h2, .page body .conteneur2 .galerie .poste__video .description__photo .nom__photo > h2, .page body .conteneur2 .galerie .poste__video .description__photo .nom__video > h2, .page body .conteneur2 .galerie .poste__video .description__video .nom__photo > h2, .page body .conteneur2 .galerie .poste__video .description__video .nom__video > h2 {
  font-weight: normal;
  color: #901C1C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo .nb__like, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nb__like, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nb__like, .page .block-page .conteneur2 .galerie .poste__video .description__video .nb__like, .page body .conteneur2 .galerie .poste__photo .description__photo .nb__like, .page body .conteneur2 .galerie .poste__photo .description__video .nb__like, .page body .conteneur2 .galerie .poste__video .description__photo .nb__like, .page body .conteneur2 .galerie .poste__video .description__video .nb__like {
  width: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo .nb__like > p, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nb__like > p, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nb__like > p, .page .block-page .conteneur2 .galerie .poste__video .description__video .nb__like > p, .page body .conteneur2 .galerie .poste__photo .description__photo .nb__like > p, .page body .conteneur2 .galerie .poste__photo .description__video .nb__like > p, .page body .conteneur2 .galerie .poste__video .description__photo .nb__like > p, .page body .conteneur2 .galerie .poste__video .description__video .nb__like > p {
  font-weight: 400;
  color: #901C1C;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .poste__photo .description__photo p, .page .block-page .conteneur2 .galerie .poste__photo .description__video h2, .page .block-page .conteneur2 .galerie .poste__photo .description__video p, .page .block-page .conteneur2 .galerie .poste__video .description__photo h2, .page .block-page .conteneur2 .galerie .poste__video .description__photo p, .page .block-page .conteneur2 .galerie .poste__video .description__video h2, .page .block-page .conteneur2 .galerie .poste__video .description__video p, .page body .conteneur2 .galerie .poste__photo .description__photo h2, .page body .conteneur2 .galerie .poste__photo .description__photo p, .page body .conteneur2 .galerie .poste__photo .description__video h2, .page body .conteneur2 .galerie .poste__photo .description__video p, .page body .conteneur2 .galerie .poste__video .description__photo h2, .page body .conteneur2 .galerie .poste__video .description__photo p, .page body .conteneur2 .galerie .poste__video .description__video h2, .page body .conteneur2 .galerie .poste__video .description__video p {
  margin: 0;
  font-size: 22px;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo .icone__like, .page .block-page .conteneur2 .galerie .poste__photo .description__video .icone__like, .page .block-page .conteneur2 .galerie .poste__video .description__photo .icone__like, .page .block-page .conteneur2 .galerie .poste__video .description__video .icone__like, .page body .conteneur2 .galerie .poste__photo .description__photo .icone__like, .page body .conteneur2 .galerie .poste__photo .description__video .icone__like, .page body .conteneur2 .galerie .poste__video .description__photo .icone__like, .page body .conteneur2 .galerie .poste__video .description__video .icone__like {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #901C1C;
  cursor: pointer;
}

.page .block-page .conteneur2 .galerie .poste__photo .description__photo .icone__like .fas.fa-heart.fa-lg, .page .block-page .conteneur2 .galerie .poste__photo .description__video .icone__like .fas.fa-heart.fa-lg, .page .block-page .conteneur2 .galerie .poste__video .description__photo .icone__like .fas.fa-heart.fa-lg, .page .block-page .conteneur2 .galerie .poste__video .description__video .icone__like .fas.fa-heart.fa-lg, .page body .conteneur2 .galerie .poste__photo .description__photo .icone__like .fas.fa-heart.fa-lg, .page body .conteneur2 .galerie .poste__photo .description__video .icone__like .fas.fa-heart.fa-lg, .page body .conteneur2 .galerie .poste__video .description__photo .icone__like .fas.fa-heart.fa-lg, .page body .conteneur2 .galerie .poste__video .description__video .icone__like .fas.fa-heart.fa-lg {
  width: 10px;
  height: 10px;
}

.page .block-page .content a, .page body .content a {
  text-decoration: none;
}

.page .block-page .content .thumb, .page body .content .thumb {
  max-height: 171px;
  max-width: 10%;
}

.page .block-page .content .lightbox, .page body .content .lightbox {
  position: fixed;
  z-index: 999;
  height: 900px;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: white;
  opacity: 1;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .block-page .content .lightbox img, .page body .content .lightbox img {
  max-width: 100%;
  height: 80%;
  margin-top: 2%;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.page .block-page .content .lightbox .light-btn, .page body .content .lightbox .light-btn {
  color: #fafafa;
  padding: 5px 15px;
  border-radius: 1px;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  top: 45%;
}

.page .block-page .content .lightbox .light-btn i, .page body .content .lightbox .light-btn i {
  font-size: 24px;
  color: #901C1C;
}

.page .block-page .content .lightbox .light-btn .fas.fa-chevron-right, .page .block-page .content .lightbox .light-btn .fas.fa-chevron-left, .page body .content .lightbox .light-btn .fas.fa-chevron-right, .page body .content .lightbox .light-btn .fas.fa-chevron-left {
  font-size: 32px;
  z-index: 9;
  color: #901C1C;
}

.page .block-page .content .lightbox .btn-prev, .page body .content .lightbox .btn-prev {
  left: 7%;
}

.page .block-page .content .lightbox .btn-next, .page body .content .lightbox .btn-next {
  right: 7%;
}

.page .block-page .content .lightbox .btn-close, .page body .content .lightbox .btn-close {
  font-family: 'DM-Sans';
  position: absolute;
  right: 8%;
  top: 6%;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 1px;
  text-decoration: none;
  font-size: 40px;
  color: #901C1C;
}

.page .block-page .content .lightbox .contain-img, .page body .content .lightbox .contain-img {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
}

.page .block-page .content .lightbox .contain-img .title, .page body .content .lightbox .contain-img .title {
  font-family: 'DM-Sans';
  color: #901C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0px;
}

.page .block-page .content .lightbox .contain-img .lightbox-video, .page body .content .lightbox .contain-img .lightbox-video {
  display: none;
}

.page .block-page .content .lightbox:target, .page body .content .lightbox:target {
  outline: none;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
}

.page .block-page .content .lightbox:target img, .page body .content .lightbox:target img {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.page .block-page .bground, .page body .bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}

.page .block-page .bground .content, .page body .bground .content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.page .block-page .bground .content .close:before, .page .block-page .bground .content .close:after, .page body .bground .content .close:before, .page body .bground .content .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: white;
}

.page .block-page .bground .content .close:before, .page body .bground .content .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page .block-page .bground .content .close:after, .page body .bground .content .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page .block-page .bground .content .close, .page body .bground .content .close {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page .block-page .bground .content .modal-body, .page body .bground .content .modal-body {
  height: 650px;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: 'DM-Sans';
}

.page .block-page .bground .content .modal-body .form1, .page body .bground .content .modal-body .form1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .block-page .bground .content .modal-body .form1 .div-title, .page body .bground .content .modal-body .form1 .div-title {
  padding-top: 10px;
  margin-bottom: 30px;
}

.page .block-page .bground .content .modal-body .form1 .div-title .form-title, .page body .bground .content .modal-body .form1 .div-title .form-title {
  font-size: 48px;
  font-weight: normal;
  color: black;
  margin: 0;
  line-height: 50px;
}

.page .block-page .bground .content .modal-body .form1 .formData, .page body .bground .content .modal-body .form1 .formData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 10px;
  color: #3f3f3f;
}

.page .block-page .bground .content .modal-body .form1 .formData .label__form, .page body .bground .content .modal-body .form1 .formData .label__form {
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.page .block-page .bground .content .modal-body .form1 .formData .text-control, .page body .bground .content .modal-body .form1 .formData .text-control {
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  height: 70%;
  border: 0.8px solid #ccc;
  outline: none;
}

.page .block-page .bground .content .modal-body .form1 .formData .error, .page body .bground .content .modal-body .form1 .formData .error {
  color: blue;
  font-size: 18px;
  display: block;
  line-height: 1px;
  position: relative;
  left: 110px;
  bottom: 17px;
  font-style: italic;
}

.page .block-page .bground .content .modal-body .form1 .formData .error--message, .page body .bground .content .modal-body .form1 .formData .error--message {
  left: 195px;
  padding-bottom: 2px;
}

.page .block-page .bground .content .modal-body .form1 .formData--modif, .page body .bground .content .modal-body .form1 .formData--modif {
  height: 150px;
}

.page .block-page .bground .content .modal-body .form1 .div-btn, .page body .bground .content .modal-body .form1 .div-btn {
  padding-top: 15px;
}

.page .block-page .bground .content .modal-body .form1 .div-btn .btn-submit, .page body .bground .content .modal-body .form1 .div-btn .btn-submit {
  height: 50px;
  width: 20%;
  font-size: 16px;
  background: #901C1C;
  display: block;
  margin: 0;
  border-radius: 3px;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'DM-Sans';
}

@media all and (max-width: 375px) {
  .page {
    width: 375px;
  }
  .page #block-page {
    width: 375px;
    margin: auto;
  }
  .page #block-page header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 150px;
    margin-left: 0px;
  }
  .page #block-page header .div__logo {
    width: 50%;
    margin-left: -110px;
  }
  .page #block-page header .div__logo > img {
    width: 150px;
    height: 40px;
  }
  .page #block-page header .hashtags {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
  .page #block-page header .hashtags > div {
    margin-top: 5px;
  }
  .page #block-page .div__titre-page {
    float: none;
    position: absolute;
    left: 220px;
    width: 40%;
    height: 50px;
    padding-top: 25px;
  }
  .page #block-page .div__titre-page .titre-page {
    font-size: 14px;
    margin: 0;
  }
  .page #block-page .conteneur1 {
    width: 90%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .page #block-page .conteneur1 .div__photograph {
    width: 100%;
    margin-bottom: 20px;
  }
  .page #block-page .conteneur1 .div__photograph .div__portrait {
    height: 245px;
  }
  .page #block-page .conteneur1 .div__photograph .div__portrait .nom {
    height: 35px;
  }
  .page #block-page .conteneur1 .div__photograph .div__portrait .nom > h1 {
    padding-top: 0px;
  }
  .page #block-page .conteneur1 .div__photograph .div__info {
    padding-top: 0px;
  }
  .page #block-page .conteneur1 .div__photograph .div__info .phrase-intro {
    padding-top: 2px;
  }
}

@media all and (min-width: 376px) and (max-width: 768px) {
  .page {
    width: 768px;
  }
  .page #block-page {
    width: 768px;
    margin: auto;
  }
  .page #block-page header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 140px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
  }
  .page #block-page header .div__logo {
    padding-left: 60px;
    height: 40px;
  }
  .page #block-page .div__titre-page {
    position: absolute;
    left: 415px;
    width: 50%;
  }
  .page #block-page .conteneur1 {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page #block-page .conteneur1 .div__photograph {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media all and (min-width: 769px) and (max-width: 1300px) {
  .page #block-page {
    margin: auto;
  }
  .page #block-page header {
    width: 66%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
  }
  .page #block-page header .div__logo {
    padding-left: 60px;
    height: 40px;
  }
  .page #block-page header .hashtags {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 28px;
    padding-left: 0;
  }
  .page #block-page header .hashtags > div {
    margin-top: 5px;
  }
  .page #block-page .div__titre-page {
    float: right;
    width: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
  }
}

@media all and (max-width: 375px) {
  .page {
    width: 375px;
    min-width: 0;
  }
  .page .block-page .header {
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .page .block-page .header .div__logo {
    padding-left: 0%;
  }
  .page .block-page .header .div__logo img {
    width: 150px;
    height: 40px;
  }
  .page .block-page .conteneur1 {
    height: 160px;
    background-color: white;
    margin-bottom: 20px;
  }
  .page .block-page .conteneur1 .div__info-profil {
    width: 70%;
    padding-left: 0%;
    min-width: 0;
  }
  .page .block-page .conteneur1 .div__info-profil .nom {
    line-height: 0px;
    padding-bottom: 5px;
  }
  .page .block-page .conteneur1 .div__info-profil .nom > h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .page .block-page .conteneur1 .div__info-profil .ville {
    font-size: 13px;
  }
  .page .block-page .conteneur1 .div__info-profil .phrase-intro {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .page .block-page .conteneur1 .div__info-profil .div__hashtags > div {
    font-size: 13px;
  }
  .page .block-page .conteneur1 .div__info-profil .div__hashtags .animals {
    display: none;
  }
  .page .block-page .conteneur1 .div__bouton {
    position: fixed;
    width: 200px;
    bottom: -80px;
    left: 49px;
  }
  .page .block-page .conteneur1 .div__bouton button {
    height: 36px;
    font-size: 18px;
  }
  .page .block-page .conteneur1 .div__portrait {
    width: 30%;
    padding-bottom: 55px;
    padding-right: 0%;
  }
  .page .block-page .conteneur1 .div__portrait > img {
    height: 100px;
    width: 100px;
  }
  .page .block-page .conteneur2 .tri {
    display: none;
  }
  .page .block-page .conteneur2 .galerie {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
    margin: auto;
    padding-left: 0px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo, .page .block-page .conteneur2 .galerie .poste__video {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .div__img, .page .block-page .conteneur2 .galerie .poste__photo .div__video, .page .block-page .conteneur2 .galerie .poste__video .div__img, .page .block-page .conteneur2 .galerie .poste__video .div__video {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo img, .page .block-page .conteneur2 .galerie .poste__photo video, .page .block-page .conteneur2 .galerie .poste__video img, .page .block-page .conteneur2 .galerie .poste__video video {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__video, .page .block-page .conteneur2 .galerie .poste__video .description__photo, .page .block-page .conteneur2 .galerie .poste__video .description__video {
    width: 100%;
    padding-top: 10px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__video, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__video, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__video, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__photo, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__video {
    width: 85%;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .poste__photo .description__photo p, .page .block-page .conteneur2 .galerie .poste__photo .description__video h2, .page .block-page .conteneur2 .galerie .poste__photo .description__video p, .page .block-page .conteneur2 .galerie .poste__video .description__photo h2, .page .block-page .conteneur2 .galerie .poste__video .description__photo p, .page .block-page .conteneur2 .galerie .poste__video .description__video h2, .page .block-page .conteneur2 .galerie .poste__video .description__video p {
    margin: 0;
    font-size: 14px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo .icone__like, .page .block-page .conteneur2 .galerie .poste__photo .description__video .icone__like, .page .block-page .conteneur2 .galerie .poste__video .description__photo .icone__like, .page .block-page .conteneur2 .galerie .poste__video .description__video .icone__like {
    margin-left: 0px;
  }
  .page .block-page .div__tarif-like {
    display: none;
  }
  .page .block-page .content .lightbox img {
    height: 40%;
  }
  .page .block-page .content .lightbox .light-btn {
    top: 46%;
  }
  .page .block-page .content .lightbox .light-btn .fas.fa-chevron-right, .page .block-page .content .lightbox .light-btn .fas.fa-chevron-left {
    font-size: 20px;
  }
  .page .block-page .content .lightbox .btn-prev {
    left: 4%;
  }
  .page .block-page .content .lightbox .btn-next {
    right: 4%;
  }
  .page .block-page .content .lightbox .btn-close {
    right: 6%;
    top: 25%;
    font-size: 20px;
  }
  .page .block-page .content .lightbox .contain-img .title {
    padding-left: 0px;
    margin-top: 8px;
    font-size: 18px;
  }
  .page .block-page .bground .content {
    width: 375px;
    padding-top: 0px;
  }
  .page .block-page .bground .content .close {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .page .block-page .bground .content .modal-body {
    height: 630px;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    font-family: 'DM-Sans';
  }
  .page .block-page .bground .content .modal-body .form1 .div-title {
    padding-top: 20px;
  }
  .page .block-page .bground .content .modal-body .form1 .div-title .form-title {
    font-size: 38px;
    line-height: 43px;
  }
  .page .block-page .bground .content .modal-body .form1 .formData {
    height: 75px;
  }
  .page .block-page .bground .content .modal-body .form1 .formData .label__form {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .page .block-page .bground .content .modal-body .form1 .formData .error {
    font-size: 15px;
    left: 90px;
    bottom: 14px;
  }
  .page .block-page .bground .content .modal-body .form1 .formData .error--message {
    left: 150px;
  }
  .page .block-page .bground .content .modal-body .form1 .formData--modif {
    height: 150px;
  }
  .page .block-page .bground .content .modal-body .form1 .div-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page .block-page .bground .content .modal-body .form1 .div-btn .btn-submit {
    height: 44px;
  }
}

@media all and (min-width: 376px) and (max-width: 768px) {
  .page {
    width: 768px;
    min-width: 0;
  }
  .page .block-page .header .div__logo {
    padding-left: 3%;
  }
  .page .block-page .header .div__logo > img {
    height: 48px;
  }
  .page .block-page .conteneur1 {
    width: 86%;
    height: 230px;
  }
  .page .block-page .conteneur1 .div__info-profil {
    width: 50%;
    padding-left: 3%;
  }
  .page .block-page .conteneur1 .div__info-profil .nom {
    line-height: 0px;
    padding-bottom: 5px;
  }
  .page .block-page .conteneur1 .div__info-profil .nom > h1 {
    font-size: 42px;
    line-height: 40px;
  }
  .page .block-page .conteneur1 .div__info-profil .ville {
    font-size: 18px;
  }
  .page .block-page .conteneur1 .div__info-profil .phrase-intro {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .page .block-page .conteneur1 .div__info-profil .div__hashtags > div {
    font-size: 18px;
  }
  .page .block-page .conteneur1 .div__bouton {
    position: relative;
    width: 200px;
    top: 135px;
    z-index: 10;
  }
  .page .block-page .conteneur1 .div__bouton button {
    width: 230px;
    height: 36px;
    font-size: 18px;
  }
  .page .block-page .conteneur1 .div__portrait {
    position: relative;
    right: 175px;
    width: 50%;
    padding-right: 8%;
    padding-bottom: 6%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page .block-page .conteneur1 .div__portrait > img {
    height: 150px;
    width: 150px;
  }
  .page .block-page .conteneur2 {
    margin-top: 20px;
  }
  .page .block-page .conteneur2 .tri {
    display: none;
  }
  .page .block-page .conteneur2 .galerie {
    margin: auto;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo, .page .block-page .conteneur2 .galerie .poste__video {
    width: 45%;
    margin-bottom: 15px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .div__img, .page .block-page .conteneur2 .galerie .poste__video .div__img {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo img, .page .block-page .conteneur2 .galerie .poste__photo video, .page .block-page .conteneur2 .galerie .poste__video img, .page .block-page .conteneur2 .galerie .poste__video video {
    height: 190px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__video, .page .block-page .conteneur2 .galerie .poste__video .description__photo, .page .block-page .conteneur2 .galerie .poste__video .description__video {
    width: 100%;
    padding-top: 10px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__photo .nom__video, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__photo, .page .block-page .conteneur2 .galerie .poste__photo .description__video .nom__video, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__photo, .page .block-page .conteneur2 .galerie .poste__video .description__photo .nom__video, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__photo, .page .block-page .conteneur2 .galerie .poste__video .description__video .nom__video {
    width: 85%;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo h2, .page .block-page .conteneur2 .galerie .poste__photo .description__photo p, .page .block-page .conteneur2 .galerie .poste__photo .description__video h2, .page .block-page .conteneur2 .galerie .poste__photo .description__video p, .page .block-page .conteneur2 .galerie .poste__video .description__photo h2, .page .block-page .conteneur2 .galerie .poste__video .description__photo p, .page .block-page .conteneur2 .galerie .poste__video .description__video h2, .page .block-page .conteneur2 .galerie .poste__video .description__video p {
    margin: 0;
    font-size: 19px;
  }
  .page .block-page .conteneur2 .galerie .poste__photo .description__photo .icone__like, .page .block-page .conteneur2 .galerie .poste__photo .description__video .icone__like, .page .block-page .conteneur2 .galerie .poste__video .description__photo .icone__like, .page .block-page .conteneur2 .galerie .poste__video .description__video .icone__like {
    margin-left: 0px;
  }
  .page .block-page .content .lightbox img {
    height: 50%;
  }
  .page .block-page .content .lightbox .light-btn {
    top: 47%;
  }
  .page .block-page .content .lightbox .light-btn .fas.fa-chevron-right, .page .block-page .content .lightbox .light-btn .fas.fa-chevron-left {
    font-size: 32px;
  }
  .page .block-page .content .lightbox .btn-prev {
    left: 8%;
  }
  .page .block-page .content .lightbox .btn-next {
    right: 8%;
  }
  .page .block-page .content .lightbox .btn-close {
    right: 9%;
    top: 21%;
    font-size: 32px;
  }
  .page .block-page .content .lightbox .contain-img .title {
    padding-left: 0px;
    margin-top: 8px;
    font-size: 24px;
  }
  .page .block-page .bground {
    z-index: 110;
  }
  .page .block-page .div__tarif-like {
    width: 30%;
    min-width: 0;
    font-size: 13px;
  }
  .page .block-page .div__tarif-like .div__nb-like {
    width: 46%;
  }
  .page .block-page .div__tarif-like .div__nb-like i {
    font-size: 15px;
  }
  .page .block-page .div__tarif-like .div__tarif {
    width: 54%;
  }
}
/*# sourceMappingURL=main.css.map */