.page{
    max-width: 1500px;
    min-width: 1050px;
    margin: auto;

    .block-page, body{
        margin: auto;

        .div__tarif-like{
            width: 25%;
            height: 60px;
            position: fixed;
            background-color: $background-orange;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'DM-Sans';
            max-width: 370px;
            min-width: 310px;
            font-size: 16px;
            border-radius: 5px;
            bottom: 0px;
            right: 250px;
            z-index: 10;

            .div__nb-like{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                h2{
                    margin-right: 10px;
                }

                i{
                    font-size: 20px;
                }
            }

            .div__tarif{
                width: 45%;
            }

        }
    
        .header{
            margin-left: 50px;
            width: 90%;
            height: 90px;
            display: flex;
            align-items: center;
            margin: auto;
    
            .div__logo{
                width: 20%;
                justify-content: flex-start;
                padding-top: 15px;
                padding-left: 2%;
    
                img{
                    width: 180px;
                    height: 48px;
                }
            }
        }

        .conteneur1{
            font-family: 'DM-Sans';
            margin: auto;
            width: 90%;
            height: 310px;
            background-color: $background-gris;
            border-radius: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .div__info-profil{
                width: 30%;
                padding-left: 5%;
                min-width: 378px ;

                .nom{
                    line-height: 65px;
                    padding-bottom: 10px;

                    > h1{
                        font-size: 64px;
                        font-weight: normal;
                        color: $orange;
                        margin: 0px;
                    }
                }

                h3{
                    font-weight: normal;
                }

                .ville{
                    font-size: 24px;
                    color: $rouge;
                    margin: 0;
                }

                .phrase-intro{
                    font-size: 18px;
                    color: $noir;
                }

                .div__hashtags{
                    display: flex;
                    justify-content: center;
                    float: left;

                    > div{
                        color: $rouge;
                        font-family: 'DM-Sans';
                        font-weight: bold;
                        font-size: 18px;
                        border-radius: 15px;
                        border: 1px solid $gris-claire;
                        margin-right: 7px;
                        padding-left: 5px;
                        padding-right: 5px;
                        line-height: 23px;
                    }
                }
            }

            .div__bouton{
                width: 15%;
                padding-bottom: 105px;
                padding-left: 20px;
                display: flex;
                justify-content: flex-end;

                button{
                    font-family: 'DM-Sans';
                    background-color: $rouge;
                    height: 65px;
                    width: 85%;
                    font-size: 20px;
                    border-radius: 5px;
                    color: white;
                    border: none;
                    cursor: pointer;
                    min-width: 130px;
                }                
            }

            .div__portrait{
                display: flex;
                width: 45%;
                justify-content: flex-end;
                align-items: center;
                padding-right: 2%;

                > img{
                    border-radius: 50%;
                    object-fit: cover;
                    height: 215px;
                    width: 215px;
                    
                }
            }
        }

        .conteneur2{
            width: 92%;
            margin: auto;
            font-family: 'DM-Sans';

            .tri{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 20px;
                margin-top: 10px;;
                padding-left: 2%;

                .div__titre__filtres{
                    width: 10%;
                }

                .div__filtres{
                    width: 15%;
                    display: flex;
                    align-items: center;


                    .sous{
                        background-color: $rouge;
                        border-radius: 10px;
                        height: 60px;
                        width: 170px;
                        font-family: 'DM-Sans';
                        font-size: 17px;
                        font-weight: bold;
                        color: white;
                        padding-left: 5px;

                        option::after{
                            height: 60px;
                            font-size: 17px;
                            font-family: 'DM-Sans';
                        }
                    }
                }
            }

            .galerie{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 35px;
                padding-left: 2%;
                    
    
                .poste__photo, .poste__video{
                    width: 29%;
                    margin-bottom: 25px;
                    display: flex;
                    flex-direction: column-reverse;
                    margin-right: 2%;
                    margin-left: 2%;
                    cursor: pointer;

                    video{
                        border: none;
                    }

                    img, video{
                        width: 100%;
                        height: 324px;
                        border-radius: 6px;
                        object-fit: cover;
                    }

                    .description__photo, .description__video{
                        width: 100%;
                        display: flex;
                        align-items: center;

                        .nom__photo, .nom__video{
                            width: 77%;

                            > h2{
                                font-weight: normal;
                                color: $rouge;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .nb__like{
                            width: 11%;
                            display: flex;
                            justify-content: center;

                            > p{
                                font-weight: 400;
                                color: $rouge;
                            }
                        }

                        h2, p{
                            margin: 0;
                            font-size: 22px;
                        }

                        .icone__like{
                            width: 13%;
                            display: flex;
                            justify-content: center;
                            color: $rouge;
                            cursor: pointer;

                            .fas.fa-heart.fa-lg{
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            }   
        }

        //LIGHTBOX
        .content{
        
            a {
                text-decoration: none;
            }
        
            .thumb {
                max-height: 171px;
                max-width: 10%;
            }
        
            .lightbox {
                position: fixed;
                z-index: 999;
                height: 100%;
                width: 100%;
                text-align: center;
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, 1);
                opacity: 1;
                display: none;
                justify-content: center;
        
                img {
                    max-width: 100%;
                    height: 80%;
                    margin-top: 2%;
                    opacity: 1;
                    object-fit: cover;        
                }
        
                .light-btn {
                    color: #fafafa;
                    padding: 5px 15px;
                    border-radius: 1px;
                    text-decoration: none;
                    cursor: pointer;
                    vertical-align: middle;
                    position: absolute;
                    top: 45%;
        
                    i{
                        font-size: 24px;
                        color: $rouge;
                    }
        
                    .fas.fa-chevron-right, .fas.fa-chevron-left{
                        font-size: 32px;
                        z-index: 9;
                        color: $rouge;
                    }
                }
        
                .btn-prev {
                    left: 7%;
                }
                .btn-next {
                    right: 7%;
                }
        
                .btn-close {
                    font-family: 'DM-Sans';
                    position: absolute;
                    right: 8%;
                    top: 6%;
                    font-weight: bold;
                    padding: 10px 10px;
                    border-radius: 1px;
                    text-decoration: none;
                    font-size: 40px;
                    color: $rouge;
                }
        
                .contain-img{
                    width: 70%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    max-width: 1000px;
        
                    .title{
                        font-family: 'DM-Sans';
                        color: $rouge;
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 0px;
                    }

                    .lightbox-video{
                        display: none;
                    }
                }
            }
        
            .lightbox:target {
                outline: none;     
                width: 100%;
                height: 100%;
                opacity: 1 !important;
                
            }
        
            .lightbox:target img {
                opacity: 1;
                transition: opacity 0.6s;
            }
        }
        
        // FORMULAIRE DE CONTACT
        .bground{
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background: rgba(196, 196, 196, 0.4);
        
            .content {
                margin: 5% auto;
                width: 100%;
                max-width: 500px;
                animation-name: modalopen;
                animation-duration: var(--modal-duration);
                background: $background-orange;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                color: #fff;
                padding-top: 10px;
        
                .close:before, .close:after {
                    position: absolute;
                    left: 15px;
                    content: " ";
                    height: 33px;
                    width: 3px;
                    background-color: white
                }
        
                .close:before {
                    transform: rotate(45deg);
                }
                  
                .close:after {
                    transform: rotate(-45deg);
                }
        
                .close {
                    position: absolute;
                    right: 20px;
                    top: 30px;
                    width: 32px;
                    height: 32px;
                    opacity: 1;
                    cursor: pointer;
                    transform: scale(1.1);
                }
        
                .modal-body{
                    height: 650px;
                    width: 90%;
                    align-items: center;
                    margin: auto;
                    font-family: 'DM-Sans';
        
                    .form1{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
        
                        .div-title{
                            padding-top: 10px;
                            margin-bottom: 30px;
        
                            .form-title{
                                font-size: 48px;
                                font-weight: normal;
                                color: black;
                                margin: 0;
                                line-height: 50px;
                            }
                        }
        
                        .formData{
                            display: flex;
                            height: 90px;
                            flex-direction: column;
                            line-height: 10px;
                            color: rgb(63, 63, 63);
        
                            .label__form{
                                font-size: 24px;
                                font-weight: normal;
                                display: inline-block;
                                margin-top: 3px;
                                margin-bottom: 3px;
                            }
        
                            .text-control{
                                margin: 0;
                                padding: 5px;
                                border-radius: 5px;
                                font-size: 20px;
                                height: 70%;
        
                                border: 0.8px solid #ccc;
                                outline: none;
                              
                            }
        
                            .error{
                                color: blue;
                                font-size: 18px;
                                display: block;
                                line-height: 1px;
                                position: relative;
                                left: 110px;
                                bottom: 17px;
                                font-style: italic;
                            }
        
                            .error--message {
                                left: 195px;
                                padding-bottom: 2px;
                            }
                        }
        
                        .formData--modif{
                            height: 150px;
                        }
        
                        .div-btn{
                            padding-top: 15px;
        
                            .btn-submit {
                                height: 50px;
                                width: 20%;
                                font-size: 16px;
                                background: $rouge;
                                display: block;
                                margin: 0;
                                border-radius: 3px;
                                padding: 12px 82px;
                                color: #fff;
                                cursor: pointer;
                                border: 0;
                                display: flex;
                                justify-content: center;
                                font-family: 'DM-Sans';
                            }
                        }
                    }
                }
            }
        }
    }
}