// responsive page principale mobile
@media all and (max-width: 375px){

    .page{
        width: 375px;

        #block-page{
            width: 375px;
            margin: auto;
        
            header{
                flex-wrap: wrap;
                width: 100%;
                height: 150px;
                margin-left: 0px;
        
                .div__logo{
                    width: 50%;
                    margin-left: -110px;

                    > img{
                        width: 150px;
                        height: 40px;
                    }
                }
            
                .hashtags{
                    width: 80%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-left: 0px;
        
                    > div{
                        margin-top: 5px;

                    }
                }
            }
        
            .div__titre-page{
                float: none;
                position: absolute;
                left: 220px;
                width: 40%;
                height: 50px;
                padding-top: 25px;
        
                .titre-page{
                    font-size: 14px;
                    margin: 0;
                }
            }

            .conteneur1{
                width: 90%;
                margin: auto;
                flex-direction: column;
                padding-top: 0;
        
                    .div__photograph{
                        width: 100%;
                        margin-bottom: 20px;
        
                        .div__portrait{
                            height: 245px;
            
                            .nom{
                                height: 35px;   
        
                                > h1{
                                    padding-top: 0px;
                                }
                            }
                        }
            
                        .div__info{
                            padding-top: 0px;
            
                            .phrase-intro{
                                padding-top: 2px;
                            }
                        }
                    }
            }
        }
    }
}

//responsive page principale tablette
@media all and (min-width: 376px) and (max-width:768px){

    .page{
        width: 768px;

        #block-page{
            width: 768px;
            margin: auto;
        
            header{
                flex-wrap: wrap;
                width: 100%;
                height: 140px;
                justify-content: flex-start;
                margin-left: 0px;
        
                .div__logo{
                    padding-left: 60px;
                    height: 40px;
                }
            }
        
            .div__titre-page{
                position: absolute;
                left: 415px;
                width: 50%;
            }
        
            .conteneur1{
                width: 90%;
                margin: auto;
                display: flex;
                padding-top: 20px;
                align-items: center;
                flex-wrap: wrap;
        
                .div__photograph{
                    width: 50%;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

//responsive page principale desktop
@media all and (min-width: 769px) and (max-width:1300px){

    .page{

        #block-page{
            margin: auto;
        
            header{
                width: 66%;
                justify-content: flex-start;
                margin-left: 0px;
        
                .div__logo{
                    padding-left: 60px;
                    height: 40px;
                }

                .hashtags{
                    width: 100%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-left: 28px;
                    padding-left: 0;
        
                    > div{
                        margin-top: 5px;

                    }
                }
            }
        
            .div__titre-page{
                float: right;
                width: 28%;
                display: flex;
                justify-content: flex-end;
                margin-right: 30px;
            }
        }
    }
}


// responsive page photographe mobile
@media all and (max-width: 375px){

    .page{
        width: 375px;
        min-width: 0;
    
        .block-page{
        
            .header{
                height: 50px;
                padding-top: 10px;
                margin-bottom: 10px;
        
                .div__logo{
                    padding-left: 0%;
        
                    img{
                        width: 150px;
                        height: 40px;
                    }
                }
            }
    
            .conteneur1{
                height: 160px;
                background-color: white;
                margin-bottom: 20px;
    
                .div__info-profil{
                    width: 70%;
                    padding-left: 0%;
                    min-width: 0;
    
                    .nom{
                        line-height: 0px;
                        padding-bottom: 5px;
    
                        > h1{
                            font-size: 36px;
                            line-height: 40px;
                        }
                    }
    
                    .ville{
                        font-size: 13px;
                    }
    
                    .phrase-intro{
                        font-size: 13px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }
    
                    .div__hashtags{
    
                        > div{
                            font-size: 13px;
                        }

                        .animals{
                            display: none;
                        }
                    }
                }
    
                .div__bouton{
                    position: fixed;
                    width: 200px;
                    bottom: -80px;
                    left: 49px;
                    
                    button{
                        height: 36px;
                        font-size: 18px;
                    }
                }
    
                .div__portrait{
                    width: 30%;
                    padding-bottom: 55px;
                    padding-right: 0%;
    
                    > img{
                        height: 100px;
                        width: 100px;                        
                    }
                }
            }

            .conteneur2{

                .tri{
                    display: none;
                }
    
                .galerie{
                    margin-bottom: 20px;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 0px;
                    margin: auto;
                    padding-left: 0px;
        
                    .poste__photo, .poste__video{
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;

                        .div__img, .div__video{
                            height: 190px;
                        }
    
                        img, video{
                            height: 190px;
                        }
    
                        .description__photo, .description__video{
                            width: 100%;
                            padding-top: 10px;

                            .nom__photo, .nom__video{
                                width: 85%;
                            }
    
                            h2, p{
                                margin: 0;
                                font-size: 14px;
                            }

                            .icone__like{
                                margin-left: 0px;
                            }
                        }
                    }       
                }
            }

            .div__tarif-like{
                display: none;
            }

            //LIGHTBOX
            .content{
            
                .lightbox {
            
                    img {
                        height: 40%;     
                    }
            
                    .light-btn {
                        top: 46%;
            
                        .fas.fa-chevron-right, .fas.fa-chevron-left{
                            font-size: 20px;
                        }
                    }
            
                    .btn-prev {
                        left: 4%;
                    }
                    .btn-next {
                        right: 4%;
                    }
            
                    .btn-close {
                        right: 6%;
                        top: 25%;
                        font-size: 20px;
                    }
            
                    .contain-img{

                        .title{
                            padding-left: 0px;
                            margin-top: 8px;
                            font-size: 18px;
                        }
                    }
                }
            }
                   
            // FORMULAIRE DE CONTACT
            .bground{
            
                .content {
                    width: 375px;
                    padding-top: 0px;
                        
                    .close {
                        transform: scale(1);
                    }
            
                    .modal-body{
                        height: 630px;
                        width: 90%;
                        align-items: center;
                        margin: auto;
                        font-family: 'DM-Sans';
            
                        .form1{
            
                            .div-title{
                                padding-top: 20px;
            
                                .form-title{
                                    font-size: 38px;
                                    line-height: 43px;
                                }
                            }
            
                            .formData{
                                height: 75px;
            
                                .label__form{
                                    font-size: 20px;
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                }

                                .error{
                                    font-size: 15px;
                                    left: 90px;
                                    bottom: 14px;
                                }
            
                                .error--message {
                                    left: 150px;
                                }
                            }
            
                            .formData--modif{
                                height: 150px;
                            }
            
                            .div-btn{
                                display: flex;
                                justify-content: center;
            
                                .btn-submit {
                                    height: 44px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// responsive page photographe tablette
@media all and (min-width: 376px) and (max-width:768px){

    .page{
        width: 768px;
        min-width: 0;
    
        .block-page{
        
            .header{
        
                .div__logo{
                    padding-left: 3%;
        
                    > img{
                        height: 48px;
                    }
                }
            }
    
            .conteneur1{
                width: 86%;
                height: 230px;
    
                .div__info-profil{
                    width: 50%;
                    padding-left: 3%;
    
                    .nom{
                        line-height: 0px;
                        padding-bottom: 5px;
    
                        > h1{
                            font-size: 42px;
                            line-height: 40px;
                        }
                    }
    
                    .ville{
                        font-size: 18px;
                    }
    
                    .phrase-intro{
                        font-size: 18px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }
    
                    .div__hashtags{
    
                        > div{
                            font-size: 18px;
                        }
                    }
                }

                .div__bouton{
                    position: relative;
                    width: 200px;
                    top: 135px;
                    z-index: 10;
                    
                    button{
                        width: 230px;
                        height: 36px;
                        font-size: 18px;
                    }
                }

                .div__portrait{
                    position: relative;
                    right: 175px;
                    width: 50%;
                    padding-right: 8%;
                    padding-bottom: 6%;
                    justify-content: center;
    
                    > img{
                        height: 150px;
                        width: 150px;                        
                    }
                }
            }

            .conteneur2{
                margin-top: 20px;

                .tri{
                    display: none;
                }
    
                .galerie{
                    margin: auto;
                    margin-bottom: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 95%;
                    margin-bottom: 0px;
                    padding-left: 0px;
        
                    .poste__photo, .poste__video{
                        width: 45%;
                        margin-bottom: 15px;

                        .div__img{
                            height: 190px;
                        }
    
                        img, video{
                            height: 190px;
                        }
    
                        .description__photo, .description__video{
                            width: 100%;
                            padding-top: 10px;

                            .nom__photo, .nom__video{
                                width: 85%;
                            }
    
                            h2, p{
                                margin: 0;
                                font-size: 19px;
                            }

                            .icone__like{
                                margin-left: 0px;
                            }
                        }
                    }       
                }
            }

            .content{
            
                .lightbox {
            
                    img {
                        height: 50%;     
                    }
            
                    .light-btn {
                        top: 47%;
            
                        .fas.fa-chevron-right, .fas.fa-chevron-left{
                            font-size: 32px;
                        }
                    }
            
                    .btn-prev {
                        left: 8%;
                    }
                    .btn-next {
                        right: 8%;
                    }
            
                    .btn-close {
                        right: 9%;
                        top: 21%;
                        font-size: 32px;
                    }
            
                    .contain-img{

                        .title{
                            padding-left: 0px;
                            margin-top: 8px;
                            font-size: 24px;
                        }
                    }
                }
            }

            .bground{
                z-index: 110;
            }

            .div__tarif-like{
                width: 30%;
                min-width: 0;
                font-size: 13px;

                .div__nb-like{
                    width: 46%;

                    i{
                        font-size: 15px;
                    }
                }

                .div__tarif{
                    width: 54%;
                }
            }
        }
    }
}

// Responsive page photographe desktop
@media all and (min-width: 769px) and (max-width:1300px){


}

